body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(219, 136, 35);
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    min-height: 400px;
    background-color: white;
    padding: 10px;
}

.rida {
    background-color: rgb(27, 181, 233);
    margin-bottom: 5px;
    padding: 5px;
}

.rida img {
    max-width: 30px;
}
